<h1>旅行名の変更</h1>

<%= render 'form', travel: @travel %>

<nav class="navbar fixed-bottom navbar-light bg-light">
  <div class="container-fluid">
    <li class="nav-item"><%= link_to '戻る', travels_path(@travel), class: 'nav-link' %></li>
  </div>
</nav>