<h1>旅行新規作成</h1>

<%= render 'layouts/error_messages', model: @travel %>
<%= render 'form', model: @travel %>

<nav class="navbar fixed-bottom navbar-light bg-light">
  <div class="container-fluid">
    <li class="nav-item"><%= link_to '一覧に戻る', travels_path, class: 'nav-link' %></li>
  </div>
</nav>