<div class="center jumbotron">
  <h1>Ryohi-Checker</h1>
  <p>~旅行の費用管理アプリ~</p>
</div>
<%= link_to 'ログイン', login_path, class: 'btn btn-lg btn-secondary' %>
<%= link_to 'サインアップ', new_user_path, class: 'btn btn-lg btn-secondary' %>